/.coverage
/downloads
/htmlcov
*.pt.py
*.pyc
*.pyo
*.mo
*~
*.sw?
/bin
/dist
/develop-eggs
/eggs
/parts
/var/
/NuPlone.egg-info
/.installed.cfg

Prototype/.DS_Store

.DS_Store
node_modules
cache/
stamp-npm
stamp-yarn
bundles/
