*.mo
*.pt.py
*.pyc
*.pyo
*.sw?
*~
.DS_Store
/.coverage
/.installed.cfg
/NuPlone.egg-info
/bin
/bundles
/cache
/develop-eggs
/dist
/downloads
/eggs
/htmlcov
/lib
/lib64
/node_modules
/parts
/share
/var
pyvenv.cfg
stamp-npm
stamp-yarn
