include *.cfg
include *.rst
recursive-include plonetheme *.zcml
recursive-include plonetheme/nuplone/locales *.po
recursive-include plonetheme/nuplone/locales *.mo
graft docs
prune docs/.build
prune Prototype
graft plonetheme/nuplone/profiles
graft plonetheme/nuplone/skin/templates
graft plonetheme/nuplone/tiles/templates
graft plonetheme/nuplone/z3cform/templates
graft plonetheme/nuplone/z3cform/tiny_mce

# added by check_manifest.py
include *.py
include Makefile
recursive-include plonetheme *.pot
