include *.cfg
include *.rst
include *.txt
recursive-include plonetheme *.zcml
recursive-include plonetheme *.pt
recursive-include plonetheme/nuplone/locales *.po
recursive-include plonetheme/nuplone/locales *.mo
graft docs
prune docs/.build
prune Prototype
prune bundles
prune redactor
prune webpack
prune src
graft plonetheme/nuplone/profiles
graft plonetheme/nuplone/skin/templates
graft plonetheme/nuplone/tiles/templates
graft plonetheme/nuplone/z3cform/templates
graft plonetheme/nuplone/z3cform/tiny_mce
prune Makefile
prune *.json

# added by check_manifest.py
include *.py
recursive-include plonetheme *.pot
