name: tests

on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: "0 12 * * 0" # run once a week on Sunday

jobs:
  build:
    strategy:
      matrix:
        config:
          - ["Py3.9-Plone6.0", "3.9", "6.0"]
          - ["Py3.13-Plone6.0", "3.13", "6.0"]
          - ["Py3.10-Plone6.1", "3.10", "6.1"]
          - ["Py3.13-Plone6.1", "3.13", "6.1"]
          - ["Py3.10-Plone6.2", "3.10", "6.2"]
          - ["Py3.13-Plone6.2", "3.13", "6.2"]
    runs-on: ubuntu-latest
    name: ${{ matrix.config[0] }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.config[1] }}
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            **/eggs
            **/downloads
          key: ${{ runner.os }}-cache-${{ hashFiles('setup.*', '*.cfg') }}-${{ matrix.config[0] }}
          restore-keys: |
            ${{ runner.os }}-cache-
      - name: Install dependencies
        run: |
          python -m venv .
          bin/pip install -r requirements-${{ matrix.config[2] }}.txt
          bin/buildout -c .github-${{ matrix.config[2] }}.cfg
      - name: Pre commit
        uses: pre-commit/action@v3.0.0
        if: ${{ matrix.config[1] == '3.13' }}
      - name: Test
        run: |
          bin/coverage run bin/test -s plonetheme.nuplone
          bin/coverage report --fail-under=56
